.App {
  /* text-align: center; */
}

body {
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #c601d1, #012ed1ad, #006a9d, #00bae8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.detail {
  padding: 0.8em 1.8em;
  border: 2px solid #FFD700;
  position: relative;
  overflow: hidden;
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  transition: .3s;
  z-index: 1;
  font-family: inherit;
  color: #FFD700;
 }
 
.detail::before {
  content: '';
  width: 0;
  height: 300%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background: #FFD700;
  transition: .5s ease;
  display: block;
  z-index: -1;
 }
 
.detail:hover::before {
  width: 105%;
 }
 
.detail:hover {
  color: #111;
 }